body {
      margin: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #0f172a;
      font-family: Arial;
    }

    .box {
      background: rgba(30, 41, 59, 0.95);
      padding: 30px;
      border-radius: 12px;
      width: 300px;
      color: white;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    input, button {
      padding: 10px;
      border-radius: 8px;
      border: none;
    }

    button {
      background: #38bdf8;
      cursor: pointer;
    }