body {
      margin: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url(imagens/photo-1536520002442-39764a41e987.avif);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      font-family: Arial;
    }

    .box {
      background: rgba(30, 41, 59, 0.95);
      padding: 30px;
      border-radius: 12px;
      width: 300px;
      color: white;
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: center;
    }

    input, button {
      padding: 10px;
      border-radius: 8px;
      border: none;
    }

    button {
      background: #38bdf8;
      cursor: pointer;
    }
    