/* RESET BASE */
body {
  margin: 0;
  height: 100vh;
  font-family: Arial, sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("https://media.istockphoto.com/id/1973192500/pt/foto/interior-of-a-modern-barber-shop-before-opening-hours.jpg?s=612x612&w=0&k=20&c=njuo6LcupWuDjXCjwvf1HFVyKDrGMF_vQQHuE9ucJSg=");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* OVERLAY ESCURO */
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.6);
}

/* CONTAINER PRINCIPAL */
.panel-container {
  z-index: 1;
  background: #523a34;
  padding: 30px;
  border-radius: 12px;
  width: 500px;
  max-height: 90vh;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  gap: 15px;

  overflow-y: auto;
}

/* HEADER */
.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.panel-header h1 {
  color: #fff;
  font-size: 22px;
  margin: 0;
}

/* NOME DO BARBEIRO */
#barberName {
  text-align: center;
  color: #ffc15e;
  font-size: 16px;
  margin: 0;
}

/* INPUT DATA */
input[type="date"] {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-size: 14px;
}

/* BOTÕES */
button {
  background: #9b6928;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #ffc15e;
}

/* BOTÃO SAIR */
.panel-header button {
  padding: 8px 12px;
  font-size: 12px;
}

/* LISTA */
#list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* CARD DE AGENDAMENTO */
.appointment {
  background: #065f46;
  padding: 12px;
  border-radius: 8px;
  color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 14px;
}

/* HORÁRIO */
.appointment span {
  display: block;
}

/* BOTÃO CANCELAR */
.appointment button {
  background: #7f1d1d;
  padding: 6px 10px;
  font-size: 12px;
}

.appointment button:hover {
  background: #b91c1c;
}

/* SEM AGENDAMENTOS */
.empty {
  text-align: center;
  color: #ccc;
  font-size: 14px;
}
