body {
  height: 100vh;
  margin: 0;

  background-image: url("https://media.istockphoto.com/id/1973192500/pt/foto/interior-of-a-modern-barber-shop-before-opening-hours.jpg?s=612x612&w=0&k=20&c=njuo6LcupWuDjXCjwvf1HFVyKDrGMF_vQQHuE9ucJSg=");
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.cover-container {
  z-index: 1;
  max-width: 700px;
}

.nav-link:hover {
  color: #ffc15e !important;
}

.btn-warning {
  background: #9b6928;
  border: none;
}

.btn-warning:hover {
  background: #ffc15e;
  color: black;
}
.login-container {
  z-index: 1;
  background: #523a34;
  padding: 40px;
  border-radius: 12px;
  width: 320px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}
header {
  position: absolute;
  top: 20px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  color: white;
  z-index: 2; /* IMPORTANTE */
}

.login-container input {
  height: 45px;
  padding: 0 10px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}
label {
  font-size: 18px;
  color: #ccc;
}
h2 {
  text-align: center;
  color: #ffc15e;
}

button {
  height: 45px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: black;
  background-color: #ffc15e;
}